#resultsheet{
    font-size: 4vw;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    display :none;
    text-align: center;
    color:#F5F3E7;
    left:0px;
    top:0px;
    z-index:20;
    width:100%;	
    box-sizing : border-box;
    padding-top: 5vw;
    margin: 2vW,2vw,0,2vw;
}

#top{
    font-size:5vw;
    color:#F5F3E7;
    text-align: center;
    padding-top:3vw;
    margin-bottom:3vw;
}

#bold{
    font-size:7vw;
    font-weight:bold;
    color:#F5F3E7;
}

.iteminfo{
    width:100%;
    background-color:#F5F3E7;
    Font-family:"游明朝";
    text-align: center;
    display:block;
    color:#28424D;
    line-height: 9vw;
}

.beans{
    width: 100%;
    background-color:#28424D;
    color:#F56E51;
    color:#F5F3E7;
    padding:0,2vw,0,2vw;
}

.beansSub{
    width: 100%;
    background-color:#28424D;
    color:#F56E51;
    color:#F5F3E7;
    padding:0,2vw,0,2vw;
    text-align:left;
    display :block;
}

#normal{
    font-size:2.5vw;
    display:inline;
    color:#F5F3E7;
    text-align:left;
}


#critical{
    Font-family:"游明朝";
    font-size:9vw;
    display:inline;
}

#small{
    Font-family:"游明朝";
    font-size:2.5vw;
    text-align:right;
}

.character{
    display :block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F5F3E7;
    border-radius:30vw;
    width:60vw;
    height:60vw;
    text-align:center;
}

.resize{
    height:100%;
    width:auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.charactername{
    font-size:large;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    text-decoration-color:black;
    text-decoration-style: solid;
}

#crbtinfo{
    padding-top:2vw;
    padding-bottom:2vw;
    width:100%;
    font-weight:bold;
    font-size:2vw;
    text-align: right;
    display:block;
    text-align:right;
}


.supervisor{
    text-align:left;
    display :block;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#hault{
    opacity:0;
    text-align:center;
    display :block;
    background-color: rgba(255,255,255,0.5);
    height:7vw;
    width:100%;
    position :fixed;
    bottom:0px;
    font-family:"meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    font-weight:bold;
    margin-bottom:2vw;
}