.title{ 
  color: #F56E51;
  Font-size: 8vw;
  font-weight:bold;
  font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
  display :inline-block;
  animation-name: shadowing;
  animation-duration:1s;
  animation-fill-mode:forwards; 
  animation-delay:1s;
  opacity: 0;
  margin-top: 5%;
  margin-left: 2%;
}

@keyframes shadowing {
    from{
        opacity : 0;
        transform:translateY(2em)
    }
    to{
        opacity : 1;
        transform:translateY(0);
    }
}

.title2{ 
    color: #F56E51;
    Font-size: 8vw;
    font-weight:bold;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    text-align:right;
    animation: shadowing 2s ease-in 0s 1 normal; 
    animation-delay:1s;
    opacity:0;
    animation-fill-mode:forwards;
    margin-top: 3%; 
    margin-left: 3%;
}

.strokeme {
    color: #F56E51;
    display:inline-block;
    font-weight:bold;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    Font-size: 8vw;
    position:relative;
}

.strokemechild{
    color:#fff;
    position:absolute;
    left :0px;
    top:0px;
    Font-size: 8vw;
    font-weight:300;
}

